body {
  color: white;
  background-color: black;
}
mark {
  color: white;
  background-color: rgba(129, 129, 129, 0.378);
}
.assign,
.as {
  color: #66bcff;
}

.br0 {
  color: #98ff66;
}

.brac1,
.br1 {
  color: #98ff66;
}

.brac2,
.br2 {
  color: #6684ff;
}

.brac3,
.br3 {
  color: #ff66c1;
}

.func,
.fnas,
.fn,
.fnsa,
.fnfr,
.fnme {
  color: #a1c4ff;
}
.cl {
  color: #1448a1;
}

.kwd,
.kwfl,
.kwop,
.kw {
  color: #00b274;
}
.kwop,
.kwmo {
  color: #3cce39;
}
.num,
.nu {
  color: #ba6f6f;
}

.op,
.opun,
.opbi {
  color: #66fff4;
}

.punct,
.pu {
  color: #a6ff66;
}

.str,
.st {
  color: #a0a082;
}

.va,
.pa {
  color: #ffe466;
}
.li,
.bo {
  color: #ff66c1;
}
.sy {
  color: beige;
}
