.code-snippet {
    background-color: #111;
    padding: 10px;
    border-radius: 0px;
    font-family: monospace;
    color: #ddd;
    max-width: fit-content;
}

.keyword {
    color: #839cf2;
}

.variable {
    color: #a5faf3;
}

.constant {
    color: #61928e;
}

.function {
    color: #f6faa5;
}

.comment {
    color: #39a848;
}

.string {
    color: #edc173;
}

.operator {
    color: #f59457;
}

.number {
    color: #73d4ed;
}

.brac0 {
    color: #128a23;
}

.brac1 {
    color: #88df21;
}

.brac2 {
    color: #ef27b3;
}

.brac3 {
    color: #5f446b;
}

.num {
    color: #a05b25;
}

.op {
    color: #eb9198;
}

.str {
    color: #d994ca;
}

.unk {
    color: #a12c5a;
}

.wsp {
    color: #feebea;
}