.code-snippet {
    background-color: #292a33;
    padding: 10px;
    border-radius: 0px;
    font-family: monospace;
    color: #ddd;
    max-width: fit-content;
}

.assign {
    color: #66ffc1;
}

.brac1 {
    color: #96ff66;
}

.brac2 {
    color: #ff9266;
}

.brac3 {
    color: #ff9f66;
}

.func {
    color: #ff66c1;
}

.keyword {
    color: #78ff66;
}

.num {
    color: #ffb766;
}

.op {
    color: #66ffc9;
}

.punct {
    color: #667bff;
}

.str {
    color: #668eff;
}

.unk {
    color: #a866ff;
}

.var {
    color: #edff66;
}

.wsp {
    color: #ffcb66;
}

