body {
  color: white;
}

.assign,
.as {
  color: #66bcff;
}

.br0 {
  color: #98ff66;
}

.brac1,
.br1 {
  color: #98ff66;
}

.brac2,
.br2 {
  color: #6684ff;
}

.brac3,
.br3 {
  color: #ff66c1;
}

.func,
.fnas,
.fn,
.fnsa,
.fnme {
  color: #a1c4ff;
}

.kwd,
.kw {
  color: #00b274;
}

.num,
.nu {
  color: #ba6f6f;
}

.op,
.opun,
.opbi {
  color: #66fff4;
}

.punct,
.pu {
  color: #a6ff66;
}

.str,
.st {
  color: #a0a082;
}

.va {
  color: #ffe466;
}
