.code-snippet {
    background-color: #111;
    padding: 10px;
    border-radius: 0px;
    font-family: monospace;
    color: #ddd;
    max-width: fit-content;
    display: block;
}

.brac0 {
    color: #85ff66;
}

.brac1 {
    color: #66ffa3;
}

.brac2 {
    color: #66ffff;
}

.brac3 {
    color: #66a3ff;
}

.keyword {
    color: #8566ff;
}

.num {
    color: #e066ff;
}

.op {
    color: #ff66c2;
}

.str {
    color: #ff6666;
}

.unk {
    color: #ffc266;
}

.wsp {
    color: #e0ff66;
}



