.assign {
    color: #0c445b;
}

.brac1 {
    color: #893d23;
}

.brac2 {
    color: #eec52b;
}

.brac3 {
    color: #4a3bd4;
}

.keyword {
    color: #af9add;
}

.num {
    color: #802501;
}

.op {
    color: #dcbbc5;
}

.punct {
    color: #f992e2;
}

.str {
    color: #813694;
}

.unk {
    color: #8432d3;
}

.wsp {
    color: #50ab54;
}

