.brac0 {
    color: #128a23;
}

.brac1 {
    color: #88df21;
}

.brac2 {
    color: #ef27b3;
}

.brac3 {
    color: #5f446b;
}

.num {
    color: #a05b25;
}

.op {
    color: #eb9198;
}

.str {
    color: #d994ca;
}

.unk {
    color: #a12c5a;
}

.wsp {
    color: #feebea;
}

